<!-- views/cart.handlebars -->
<h1>Carrito de Compras</h1>

<ul>
  {{#each cart.products}}
    <li>
      <h2>{{this.product.title}}</h2>
      <p>Precio: ${{this.product.price}}</p>
      <p>Cantidad: {{this.quantity}}</p>
      
      <!-- Formulario para actualizar la cantidad de un producto -->
      <label for="quantity-{{this.product._id}}">Actualizar Cantidad:</label>
      <input type="number" id="quantity-{{this.product._id}}" min="1" value="{{this.quantity}}">
      <button onclick="updateProductQuantity('{{../cart._id}}', '{{this.product._id}}')">Actualizar</button>
      
      <!-- Botón para eliminar un producto del carrito -->
      <button onclick="deleteProductFromCart('{{../cart._id}}', '{{this.product._id}}')">Eliminar</button>
    </li>
  {{/each}}
</ul>

<a href="/products">Volver a Productos</a>

<!-- Opción para vaciar el carrito completamente -->
<button onclick="clearCart('{{cart._id}}')">Vaciar carrito</button>

<script src="/js/cartActions.js"></script>
