<h1>Lista de Productos</h1>
<ul>
  {{#each products}}
    <li>
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
      <p>Código: {{this.code}}</p>
      <!-- Mostrar el código del producto -->
      <p>Precio: {{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Categoría: {{this.category}}</p>
      <p>Status: {{this.status}}</p>
      <p>Thumbnails: {{#each this.thumbnails}}<span>{{this}}</span>{{/each}}</p>
    </li>
  {{/each}}
</ul>