{{! src/views/realTimeProducts.handlebars }}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realtime.js"></script>
  </head>
  <body>
    <h1>{{title}}</h1>

    <ul id="productList">
      {{#each products}}
        <li data-id="{{this.id}}">
          <strong>{{this.title}}</strong>
          -
          {{this.description}}
          ({{this.price}})
        </li>
      {{/each}}
    </ul>

    <!-- Formulario para agregar productos -->
    <form id="productForm">
      <input type="text" id="title" placeholder="Título" required />
      <input type="text" id="description" placeholder="Descripción" required />
      <input type="number" id="price" placeholder="Precio" required />
      <input type="text" id="code" placeholder="Código" required />
      <input type="number" id="stock" placeholder="Stock" required />
      <input type="text" id="thumbnail" placeholder="URL de la imagen" />
      <button type="submit">Agregar producto</button>
    </form>

  </body>
</html>